html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0 auto;
    background-color: #FFF8F2;
}

h1 {
    font-family: 'salome_decoregular';
    font-size: 75px;
    line-height: 1;
    letter-spacing: 7px;
    color: #242325;
    font-style: normal;
    margin: 0;
}

h2 {
    font-family: 'salomeitalic';
    font-size: 35px;
    line-height: 1;
    letter-spacing: 1px;
    color: #242325;
    font-style: normal;
    margin: 0;
}

h3 {
    font-family: 'Satoshi-Variable';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #242325;
    margin: 0;
}

p {
    font-family: 'Satoshi-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #242325;
    margin: 0;
}

.p2-red {
    font-size: 30px;
    font-weight: bold;
    color: #EF6F6C;
    margin-top: 40px;
}

.p2-purple {
    font-size: 30px;
    font-weight: bold;
    color: #F3AEF2;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-color-banner {
    color: #FFE9D6;
}

.text-color-white {
    color: #FFF8F2;
}

.text-color-red {
    color: #EF6F6C;
}

.text-color-purple {
    color: #F3AEF2;
}

a {
    text-decoration: none;
    font-family: 'Satoshi-Variable';
    font-weight: bold;
    font-size: 20px;
    color: #242325;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    right: 0;
    padding: 40px 25px 40px 25px;
    border-left: #242325 solid 2px;
    box-sizing: border-box;
}

        .nav-logo {
            margin-bottom: 80px;
        }

        .nav-collapse-btn {
            display: flex;
            margin-bottom: 25px;
        }

            .nav-arrow {
                margin-left: 15px;
            }

        .nav-collapse {
            display: flex;
            flex-direction: column;
        } 
                
            .nav-collapse-link {
                opacity: 45%;
                margin-bottom: 10px;
                transition: color 0.3s, opacity 0.3s;
            }

            /* Add hover effect for the navigation links */
            .nav-collapse-link:hover {
            color: #EF6F6C;
        }
    
            .nav-btn {
                display: flex;
                font-family: 'Satoshi-Variable';
                font-weight: bold;
                font-size: 20px;
                background-color: #242325;
                color: #FFF8F2;
                padding: 12.5px 0;
                border-radius: 50px;
                width: 100%;
                text-align: center;
                display: block;
                margin-top: 25px;
                border-width: 0;
                transition: background-color 0.3s, color 0.3s;
                cursor: pointer;
            }
            
            .nav-btn:hover {
                background-color:#EF6F6C;
            }  

header {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin: 0;
    margin-right: 140px;
    padding: 40px;
    box-sizing: border-box;
}

    .header-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        padding: 25px;
        background-color: #FFE9D6;
        border: #242325 2px solid;
        height: 100%;
        max-width: 622px;
        min-width: 400px;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
    }

        .portfolio-banner {
            background-color: #242325;
            margin: 25px 0;
          
        }

            .banner-animation {
                display: flex;
                align-items: center;
                background-color: #242325;
                padding: 10px 0;
                margin: 0 -25px;
                white-space: nowrap;
                overflow: hidden;
            }

            .banner-content-container {
                display: flex;
                align-items: center;
                animation: moveLeft 10s linear infinite;
                animation-delay: 1s;
            }


            .banner-star {
                height: 30px;
                width: 30px;
                padding: 0 25px;
            }

            .banner-star,
            .text-color-banner {
            margin: 0 10px;
            }

            @keyframes moveLeft {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        
        .profile-img {
            border-radius: 30px;
            height: 100%;
            width: 100%;
            background-image: url(img/profil-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% 10%;
        }

    
    .header-info-container {
        padding: 0 40px;
        max-width: 518px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

        .header-about {
            display: flex;
            align-items: flex-start;
            background-color: #FFE9D6;
            border: #242325 2px solid;
            border-radius: 50px;
            padding: 25px;
        }

        .about-star {
            width: calc(7vw - 25px); 
            height: calc(7vw - 25px);
            margin-right: 25px;
            max-width: 75px;
            max-height: 75px;
        }

    .header-service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFE9D6;
        border: #242325 2px solid;
        border-radius: 50px;
        margin-top: 40px;
        flex-grow: 1;
        overflow: hidden;
    }

        .padding-wrap {
            margin: 25px;
        }


            .dropdown-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 25px;
                border-top: #242325 solid 1px;
                transition: background-color 0.3s, color 0.3s;
                cursor: pointer;

            }

            .dropdown {
                padding: 10px 25px 25px 25px;
            }

                #dropdown-1 {
                    display: none;
                }

                #dropdown-2 {
                    display: none;
                }

                #dropdown-3 {
                    display: none;
                }

            .dropdown-btn:hover {
                background-color: #242325;
            }

            .dropdown-btn:hover h3 {
                color: #FFE9D6;
            }

            .dropdown-btn:hover svg path,
            .dropdown-btn:hover svg line {
                stroke: #FFE9D6; 
            }
                            
    .header-btn {
            font-family: 'Satoshi-Variable';
            font-weight: bold;
            font-size: 20px;
            background-color: #242325;
            color: #FFF8F2;
            padding: 12.5px 0;
            border-radius: 50px;
            width: 100%;
            text-align: center;
            display: block;
            margin-top: 40px;
            border-width: 0;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;
        }

        .header-btn:hover {
            background-color:#EF6F6C;
        }
        
    .header-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left-icon {
        margin-left: 25px;
    }

    .right-icon {
        margin-right: 25px;
    }

    .spacer {
        flex-grow: 1;
    }

.bg-projects {
    background-color: #242325;
    border-radius: 50px 50px 0 0;
    padding: 80px 40px 40px 40px;
    margin: 0;
    margin-right: 180px;
}


    .h1-wrap {
        display: flex;
    }

        .star-red {
            margin-right: 40px;
            height: 75px;
            width: 75px;

        }

    .project-wrap {
        margin-top: 40px;
        max-width: 1180px;
    }

    .project-wrap-top {
        display: flex;
    }
    
    .project-small {
        background-color: #FFF8F2;
        padding: 25px;
        border-radius: 50px;
        margin-bottom: 40px;
        transition: transform 0.3s ease-out;

    }

        .img-small {
            max-width: 218px;
        }

        .small-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
        }

            .border {
                border: #242325 2px solid;
                border-radius: 50px;
                padding: 10px;
            }

            .project-small:hover {
                transform: scale(0.97);
            }

    .big-wrap {
        display: flex;
    }

    .project-margin-left {
        margin-left: 40px;
        margin-bottom: 40px;
        width: 50%;        
    }

    .project-margin-right {
        margin-right: 40px;
        margin-bottom: 40px;
        width: 50%;
        
    }

    .project-wrap-big {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFF8F2;
        padding: 25px 25px 15px 25px;
        border-radius: 50px;
        min-width: 100px;
        height: 100%;
        box-sizing: border-box;
        transition: transform 0.3s ease-out;
    }

    .project-wrap-big:hover {
        transform: scale(0.97);
    }

        .img-big {
            width: 100%;
            margin-bottom: 15px;
        }

            .margin-bottom {
                margin-bottom: 15px;
            }

        .project-big-lower {
            display: flex;
            flex-wrap: wrap;

        }

        .type {
            padding: 10px 13px;
            border: #242325 2px solid;
            border-radius: 50px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

    .project-wrap-big-lower {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFF8F2;
        padding: 25px 25px 15px 25px;
        border-radius: 50px;
        margin-bottom: 40px;
        margin-right: 40px;
        min-width: 100px;
    }

.bg-contact {
    background-color: #242325;
    padding: 0px 40px 40px 40px;
    margin: 0;
    margin-right: 180px;
}

    .star-purple {
          margin-right: 40px;
            height: 75px;
            width: 75px;
    }

    .bg-deep-black {
        background-color: #000000;
        padding: 40px;
        border-radius: 50px;
        max-width: 1100px;
    }

        #btn-mail {
            width: 344.63px;
        }

        .purple-btn {
            display: flex;
            align-items: center;
            font-family: 'Satoshi-Variable';
            font-weight: bold;
            font-size: 20px;
            color: #F3AEF2;
            background-color: #000000;
            padding: 12.5px 20px;
            border-radius: 50px;
            border: #F3AEF2 2px solid;
            text-align: center;
            margin-top: 10px;
            margin-right: 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .purple-btn:hover {
            background-color: #F3AEF2;
            color:#000000;
        }

        .purple-btn:hover svg path {
            fill:#000000;
        }
        .btn-wrap {
            display: flex;
            width:max-content;
        }

        .contact-wrap {
            max-width: 1180px;
        }

        form {
            display: flex;
        }

        .contact-input-wrap {
            width: 100%;
        }

        .contact-input-info {
            display: flex;
            margin: 10px 10px 10px 0;
            width: 100%;
        }

            .input-info {
                font-family: 'Satoshi-Variable';
                font-size: 20px;
                color: #F3AEF2;
                background-color: #000000;
                border: 0;
                outline: none;
                height: 100px;
                border-radius: 50px;
                padding-left: 40px;
                margin-right: 10px;
                width: 100%;
            }

            ::placeholder {
                color: #F3AEF2;
            }

            input:focus {
                border: #F3AEF2 solid 2px;
            }

            .input-message {
                display: flex;
                font-family: 'Satoshi-Variable';
                font-size: 20px;
                color: #F3AEF2;
                background-color: #000000;
                border: 0;
                height: 100px;
                border-radius: 50px;
                padding-left: 40px;
                padding-top: 40px;
                height: 400px;
                margin-right: 10px;
                width: -webkit-fill-available;
                resize: none;
                outline: none;
            }

            textarea:focus {
                border: #F3AEF2 solid 2px;

            }


        .form-btn {
            font-family: 'Satoshi-Variable';
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
            width: 250px;
            background-image: url('img/ikon-send.svg');
            background-color: #F3AEF2;
            background-repeat: no-repeat;
            background-position: center;
            background-position-y: 43%;
            border: 0;
            border-radius: 50px;
            transition: transform 0.3s ease-out;
            cursor: pointer;
        }

        .form-btn:hover {
            transform: scale(0.98);
        }


@media screen and (max-width: 1210px) {

    body {
        
    }

    nav {
        align-items: center;
        justify-content: space-between;
        max-width: 1120px;
        width: 100%;
        background-color: #FFE9D6;
        height: 100px;
        margin: 40px;
        margin-top: 0;
        border-radius: 0px 0px 50px 50px;
        z-index: 9999;
        box-sizing: border-box;
        border: #242325 solid 2px;
        border-top: 0;
        flex-direction: row;

    }

        .nav-logo {
            margin-bottom: 0;
            margin-right: 80px;
        }

        .nav-upper {
            display: flex;
            align-items: center;
        }

            .nav-collapse-btn {
                display: none;
            }

            .nav-collapse {
                flex-direction: row;
            }

            .nav-collapse-link {
                margin-bottom: 0;
                margin-right: 40px;
            }

            .nav-btn {
                margin-top: 0;
                padding: 12.5px 12.5px;
            }

            

    header {
        padding-top: 140px;
        margin-right: 0;
    }

        .header-profile {
            max-width: 500px;
        }
   
        .header-info-container {
            padding-right: 0;
            max-width: 590px;
        }

        .header-btn {
            display: none;
        }

        .hidden-on-tablet {
            display: none;
        }


}


        