body {
    padding: 0;
    margin: 0 auto;
    background-color: #FFF8F2;
}

h1 {
    font-family: 'salome_decoregular';
    font-size: 75px;
    line-height: 1;
    letter-spacing: 7px;
    color: #242325;
    font-style: normal;
    margin: 0;
}

h2 {
    font-family: 'salomeitalic';
    font-size: 35px;
    line-height: 1;
    letter-spacing: 1px;
    color: #242325;
    font-style: normal;
    margin: 0;
}

h3 {
    font-family: 'Satoshi-Variable';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #242325;
    margin: 0;
}

p {
    font-family: 'Satoshi-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #242325;
    margin: 0;
}

.p2-red {
    font-size: 30px;
    font-weight: bold;
    color: #EF6F6C;
    margin-top: 40px;
}

.text-color-banner {
    color: #FFE9D6;
}

.text-color-white {
    color: #FFF8F2;
}

.text-color-red {
    color: #EF6F6C;
}

a {
    text-decoration: none;
    font-family: 'Satoshi-Variable';
    font-weight: bold;
    font-size: 20px;
    color: #242325;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px 25px 40px 25px;
    border-left: #242325 solid 2px;
    box-sizing: border-box;
}

        .nav-logo {
            margin-bottom: 80px;
        }

        .nav-collapse-btn {
            display: flex;
            margin-bottom: 25px;
        }

            .nav-arrow {
                margin-left: 15px;
            }

        .nav-collapse {
            display: flex;
            flex-direction: column;
        } 
                
            .nav-collapse-link {
                opacity: 45%;
                margin-bottom: 10px;
            }
        
    
        .nav-btn {
            display: flex;
            font-family: 'Satoshi-Variable';
            font-weight: bold;
            font-size: 20px;
            background-color: #242325;
            color: #FFF8F2;
            padding: 12.5px 0;
            border-radius: 50px;
            width: 100%;
            text-align: center;
            display: block;
            margin-top: 25px;
            border-width: 0;
        }

header {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin: 0;
    margin-right: 140px;
    padding: 40px;
    box-sizing: border-box;
}

    .header-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        padding: 25px;
        background-color: #FFE9D6;
        border: #242325 2px solid;
        height: 100%;
        max-width: 622px;
        min-width: 500px;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
    }

        .portfolio-banner {
            background-color: #242325;
            margin: 25px 0;
          
        }

            .banner-animation {
                display: flex;
                align-items: center;
                background-color: #242325;
                padding: 10px 0;
                margin: 0 -25px;
                white-space: nowrap;
                overflow: hidden;
            }

            .banner-content-container {
                display: flex;
                align-items: center;
                animation: moveLeft 10s linear infinite;
                animation-delay: 1s;
            }


            .banner-star {
                height: 30px;
                width: 30px;
                padding: 0 25px;
            }

            .banner-star,
            .text-color-banner {
            margin: 0 10px;
            }

            @keyframes moveLeft {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        
        .profile-img {
            border-radius: 30px;
            height: 100%;
            width: 100%;
            background-image: url(img/profil-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% 10%;
        }

    
    .header-info-container {
        padding: 0 40px;
        max-width: 518px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

        .header-about {
            display: flex;
            align-items: flex-start;
            background-color: #FFE9D6;
            border: #242325 2px solid;
            border-radius: 50px;
            padding: 25px;
        }

        .about-star {
            width: calc(7vw - 25px); 
            height: calc(7vw - 25px);
            margin-right: 25px;
        }

    .header-service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFE9D6;
        border: #242325 2px solid;
        border-radius: 50px;
        margin-top: 40px;
        flex-grow: 1;
        overflow: hidden;
    }

        .padding-wrap {
            margin: 25px;
        }


            .dropdown-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 25px;
                border-top: #242325 solid 1px;
                transition: background-color 0.3s, color 0.3s;

            }

            .dropdown {
                padding: 10px 25px 25px 25px;
            }

                #dropdown-1 {
                    display: none;
                }

                #dropdown-2 {
                    display: none;
                }

                #dropdown-3 {
                    display: none;
                }

            .dropdown-btn:hover {
                background-color: #242325;
            }

            .dropdown-btn:hover h3 {
                color: #FFE9D6;
            }

            .dropdown-btn:hover svg path,
            .dropdown-btn:hover svg line {
                stroke: #FFE9D6; 
            }
                            
    .header-btn {
            font-family: 'Satoshi-Variable';
            font-weight: bold;
            font-size: 20px;
            background-color: #242325;
            color: #FFF8F2;
            padding: 12.5px 0;
            border-radius: 50px;
            width: 100%;
            text-align: center;
            display: block;
            margin-top: 40px;
            border-width: 0;
        }
        
    .header-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left-icon {
        margin-left: 25px;
    }

    .right-icon {
        margin-right: 25px;
    }

    .spacer {
        flex-grow: 1;
    }




.bg-color-wrap {
    background-color: #242325;
    border-radius: 50px;
    padding: 80px 40px 40px 40px;
    margin: 0;
    margin-right: 180px;
    box-sizing: border-box;
}


    .h1-wrap {
        display: flex;
    }

        .star-red {
            margin-right: 40px;
            height: 75px;
            width: 75px;
        }

    .project-wrap {
        margin-top: 40px;
        max-width: 1180px;
    }

    .project-wrap-top {
        display: flex;
    }

    .project-wrap-small {
        
    }
    
    .project-small {
        background-color: #FFF8F2;
        padding: 25px;
        border-radius: 50px;
        margin-bottom: 40px;
    }

        .img-small {
            max-width: 218px;
        }

        .small-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
        }

            .border {
                border: #242325 2px solid;
                border-radius: 50px;
                padding: 10px;
            }

    .big-wrap {
        display: flex;
    }

    .project-wrap-big {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFF8F2;
        padding: 25px 25px 15px 25px;
        border-radius: 50px;
        margin-bottom: 40px;
        margin-left: 40px;
        min-width: 100px;
        height: 100%;
    }

        .img-big {
            width: 100%;
            margin-bottom: 15px;
        }

            .margin-bottom {
                margin-bottom: 15px;
            }

        .project-big-lower {
            display: flex;
            flex-wrap: wrap;

        }

        .type {
            padding: 10px 15px;
            border: #242325 2px solid;
            border-radius: 50px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

    .project-wrap-big-lower {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFF8F2;
        padding: 25px 25px 15px 25px;
        border-radius: 50px;
        margin-bottom: 40px;
        margin-right: 40px;
        min-width: 100px;
    }
